<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Stats</title>
	<link rel="stylesheet" type="text/css" href="/css/reset-beta.css">
	<link rel="stylesheet" type="text/css" href="/css/tank02.css">
	<link rel="stylesheet" type="text/css" href="/css/stats01.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
	<meta name="theme-color" content="#dcd6da">
</head>
<body>
<h1 id="mainHeader" class="start">Welcome</h1>
<div id="mainGrid" class="start">
	<p>Choose a RuleSet: <select id="rules">
		<option value="x" selected>--Choose One--</option>
	</select></p>
	<p><button id="loadInfo">Recurse!</button></p>
</div>
<div id="output"></div>
<div id="loading">Loading...</div>
<script src="stats01.js" type="module"></script>
<!--
	<ul>
		<li><input type="number" min="1" max="25" value="10" id="STR"> STR</li>
		<li><input type="number" min="1" max="25" value="10" id="DEX"> DEX</li>
		<li><input type="number" min="1" max="25" value="10" id="CON"> CON</li>
		<li><input type="number" min="1" max="25" value="10" id="INT"> INT</li>
		<li><input type="number" min="1" max="25" value="10" id="WIS"> WIS</li>
		<li><input type="number" min="1" max="25" value="10" id="CHA"> CHA</li>
	</ul>
-->
</body>
</html>
