/* Color Variables */
:root {
	--main-fg: #F4FAFF;
	--main-bg: #351e29; /**/
	--sub-border: #7CC6FE;
	--sub-bg: #083D77;
	--accent-fg: #c8e9a0;/**/
	--accent-bg: #5DFDCB;
	--accent-border: #f9f9ff; /* Not used */
	--link-border: var(--main-fg);
	--link-hover-color: var(--accent-bg);
	--link-hover-border: var(--accent-bg);
	--link-hover-bg: var(--accent-fg);

	--main-fg: #d2dad8;
	--main-bg: #143642;
	--sub-border: #ffa630;
	--sub-bg: #0F8B8D;
	--loading-fg: #DAD2D8;
	--loading-bg: #69140e;
	--header-fg: #378db2;
	--header-bg: #00000060;
	--shadow: #000;
	--shadow-lighter: #00000090;
	--overlay-bg: #143642aa;

}

/* Main stuff */
body {
	grid-template-rows: max-content 1fr;
	grid-template-columns: 1fr;
	grid-template-areas:
		"header"
		"main";
	font-family: verdana,arial,sans-serif;
	overflow-y: scroll;
	min-height: 100vh;
}
html {
	min-height: 100vh;
}
aside {
	position: fixed;
	height: 100%;
	width: 10em;
}
ul {
	padding: 0;
	list-style-type: disc;
	list-style-position: inside;
}
ul ul {
	list-style-type: circle;
	padding: 0 1em;
}
ul ul ul {
	list-style-type: square;
	padding: 0 1em;
}
ul ul ul ul {
	list-style-type: circle;
	padding: 0 1em;
}
ul ul ul ul ul {
	list-style-type: disc;
	padding: 0 1em;
}
#mainGrid li {
	margin: 0.5em auto;
	padding: 0.1em 0.25em;
}
/* NTH-OF-TYPE MATRIX is handled in nth-of-type-matrix.js */
li.highlightDark {
	background: #00000010;
}
li.highlightLight {
	background: #ffffff10;
}



#mainGrid {
	font-weight: normal;
	box-sizing: border-box;
	min-height: 100%;
	grid-area: main;

	margin: 0 auto;
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
}
#mainGrid > div {
	border-width: 0.2rem 0 0 0;
	border-style: solid;
	border-color: var(--sub-border);
	border-radius: 0.15rem;
	background: var(--sub-bg);
	padding: 1em;
	margin: 0 1em;
	box-shadow: 0.5rem 0.4rem 0.5rem 0 var(--shadow);
	min-height: 100%;
	max-width: calc(50vw - 5em);
	flex-basis: 100%;
}
.flex-vertical {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
#mainGrid p {
	text-align: center;
	text-indent: 0;
	margin: 0.5em 0;
}
.highlight {
	background: #def;
	font-size: 0.8em;
	padding: 0.25em 0;
}
h1 {
	text-align: center;
	padding-top: 0.5em;
	margin: 0.5em auto 1em;
}
header,
h1,
h2 {
	font-family: 'Noto Serif',Georgia,'Times New Roman',serif;
}
header {
	font-size: 1.5em;
}
#welcome {
	display: block;
	grid-area: header;
	color: var(--header-fg);
	background-color: var(--header-bg);
	margin: 0 0 1em 0;
	padding: 0.5em 0 0.5em 1em;
	min-width: calc(100% - 1em);
	font-size: 1rem;
	box-shadow: 0 0.25em 0.25em 0 var(--shadow-lighter);
}
input[type="number"] {
	max-width: 3em;
}
input[type="number"].max {
	max-width: none;
}
input[type="checkbox"],
input[type="radio"],
select,
button {
	font-size: 70%;
}
button {
	margin: 0.5em;
}


a:link,
a:visited {
	text-decoration: none;
	color: var(--main-fg);
	background: transparent;
}
a:active {
	text-decoration: none;
	color: var(--sub-border);
	background: transparent;
}
a:hover {
	text-decoration: none;
	color: var(--link-hover-color);
	background: var(--link-hover-bg) !important;
}


/* All overlays */

body .overlay {
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	align-content: center;
	background: var(--overlay-bg);
	pointer-events: none;
}



/* Overlay */

body #overlay {
	flex-flow: row wrap;
}
body.overlayActive #overlay {
	opacity: 1;
	transition: opacity 0.5s ease-out;
	pointer-events: auto;
}
body #overlay hr {
	width: 100%;
	color: transparent;
	border: none;
	margin: 0;
}
body #overlay .chooser {
	border-width: 0.2rem 0 0 0;
	border-style: solid;
	border-color: var(--loading-bg);
	border-radius: 0.15rem;
	background: var(--sub-bg);
	padding: 0 1em 2em;
	margin: 1em;
	box-shadow: 0.5rem 0.4rem 0.5rem 0 var(--shadow);
	max-width: calc(50vw - 5em);
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: center;
	align-content: center;
}
body #overlay .chooser label input {
	margin-right: 0.5em;
}
body #overlay .buttons {
	border-radius: 0.5em;
	background: var(--sub-bg);
	padding: 0.5em 1em;
	margin: 0 1em 1em;
	box-shadow: 0.5rem 0.4rem 0.5rem 0 var(--shadow);
	max-width: calc(50vw - 5em);
}

/* Loading */

body #loading {
	background: var(--loading-bg);
	color: var(--loading-fg);
	font-size: 2em;
	transition: opacity 0.5s ease-in;
}
body.loading #loading {
	opacity: 1;
	transition: opacity 0.1s ease-out;
	pointer-events: auto;
}
#loading-message {
	min-height: 20vh;
	padding-top: 2em;
	font-size: 1rem;
	font-family: Consolas,"Courier New",monospace;
}



/* Phone Displays */

@media only screen and (max-width: 90em) {
	.unit {
		max-width: 42em;
	}
}
@media only screen and (max-width: 45em) {
	.unit {
		max-width: none;
	}
}

