.selectableContent {
	width: 100%;
	min-height: 10em;
	max-height: 60vh;
	overflow-y: auto;
	padding: 0 0.25em;
	margin: 0.5em 0;
	display: flex;
	flex-flow: column nowrap;
	align-content: center;
	border: 0.1em solid var(--main-fg);
	background: #0001;
}
.selectableContent .selectable {
	padding: 0.2em 0.2em;
	border: 1px solid transparent;
	order: 1;
	cursor: help;
}
.selectableContent .selectable:nth-child(n+2) {
	border-top-color: #0002;
}
.selectableContent .selectable.clicked {
	box-shadow: inset 0.1em 0.1em 0 var(--shadow-lighter);
	border-color: #0002;
	background: #0001;
}
.selectableContent .selectable.invalid {
	order: 2;
	text-decoration: line-through;
	cursor: default;
}
.selectableContent .selectable.hidden {
	display: none;
}
.selectableContent .selectable .description,
.selectableContent .selectable .explanation,
.selectableContent .selectable .replacements {
	font-size: 0.8em;
}
.standardAbilities .addMe,
.alternateAbilities .delMe {
	display: none;
}
.standardAbilities .delMe,
.alternateAbilities .addMe {
	background: var(--loading-bg);
	display: inline-block;
	padding: 0 0.1rem;
	font-size: 0.5rem;
	margin: 0 0.5rem 0 0.25rem;
	border: 1px solid var(--loading-bg);
	box-shadow: 0.15em 0.15em 0.15em 0 var(--shadow-lighter);
	cursor: pointer;
}
.alternateAbilities .invalid .addMe {
	opacity: 0;
	cursor: default;
}
.standardAbilities .description,
.alternateAbilities .explanation,
.selectableContent .replacements {
	display: none;
}
.alternateAbilities .clicked .explanation {
	display: block;
	font-style: italic;
	text-indent: 1em;
}
.alternateAbilities .clicked .replacements,
.alternateAbilities .prereq {
	display: block;
	text-align: right;
}
.replacements .ns {
	text-decoration: underline dashed 1px;
}
